<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css\style.css">
    <title>tan-智能地摊系统</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <img src="static/bg.jpg">
    <div class="panel">
        <div class="content login">
            <div class="title">智能地摊系统</div>
            <div class="switch">
                <span id="login" class="active">登录</span>
                <span>/</span>
                <span id="signup">注册</span>
            </div>
            <form>
                <div class="input" id="username" placeholder="用户名"><input type="text"></div>
                <div class="input" id="password" placeholder="密码"><input type="password"></div>
                <div class="input" id="repeat" placeholder="重复密码"><input type="password"></div>
                <span>忘记密码</span>
                <button id="submit">登录</button>
            </form>
        </div>
    </div>
</div>

<script>
    $("#login").click(function () {
        $(".switch span").removeClass("active");
        $(this).addClass("active");

        $(this).parents(".content").removeClass('signup');
        $(this).parents(".content").addClass('login');

        $("form button").text("登录");

    })

    $("#signup").click(function () {
        $(".switch span").removeClass('active');
        $(this).addClass('active');

        $(this).parents(".content").removeClass('login');
        $(this).parents(".content").addClass("signup");

        $("form button").text("注册");
    })

    $(".input input").on("focus", function () {
        $(this).parent().addClass("focus");
    })

    $(".input input").on("blur", function () {
        if ($(this).val() === '')
            $(this).parent().removeClass("focus");
    })

    $("form button").onclick(function () {
        method = $(".content").attr("class").slice(8);
        console.log(method)
        if (method === "login") {
            data = [
                username = $(".input#username"),
                password = $(".input#password")
            ];

            urlReq = "index.php/index/login";

            $.ajax({
                type: "post",
                url: urlReq,
                data: data,
                dataType: "json",
                success: function (data) {
                    alert("success!")
                },
                error:function (data) {
                    alert("error!")
                }
            })
        }
    })

    method = $(".content").attr("class").slice(8);
    if (method == "login") {
        data = [
            username = $(".input#username"),
            password = $(".input#password")
        ];

        urlReq = "index.php/index/login";

        $.ajax({
            type: "post",
            url: urlReq,
            data: data,
            dataType: "json",
            success: function (data) {
                alert("success!")
            },
            error:function (data) {
                alert("error!")
            }
        })
    }


</script>

</body>
</html>